body {
  background: #000;
  border: 0px;
  padding: 0px;
  margin: 0px;
  color: #777;
  font-family: 'Open Sans', sans-serif;
}

#info {
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-align: right;
}

#info > #name {
  font-size: 0.7em;
}

#info > #company {
  font-size: 0.7em;
}

#title {
  font-size: 1.1em;
}
