body {
  background: #000;
  border: 0px;
  padding: 0px;
  margin: 0px;
  color: #999;
  font-family: 'Open Sans', sans-serif;
}

#info {
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-align: right;
}
