body {
  background: #000;
  border: 0px;
  padding: 0px;
  margin: 0px;
  color: #555;
  font-family: 'Open Sans', sans-serif;
}

#info {
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-align: right;
}

#info > #name {
  font-size: 0.7em;
}

#logo {
  position: absolute;
  top: 0em;
  left: 0em;
  text-left: right;
  opacity: 0.3;
}

#title {
  font-size: 1.1em;
}
